@tailwind base;
@tailwind components;
@tailwind utilities;

.w-card {
  width: 90vw !important;
}

@media (min-width: 640px) {
  .w-card {
    width: 20rem !important;
  }
  .react-multi-carousel-dot-list {
    position: absolute;
    top: -20px;
    bottom: initial;
  }
}
